$blue: #1E40C8;
$gray: #71808E;
$darkBlue: #091841;
$font: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

.container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, p, a {
    font-family: $font;
    padding: 0;
    margin: 0;
}

ul {
    font-family: $font;
    color: $darkBlue;
}

li {
    font-family: $font;
    font-size: 1.125rem;
    color: $darkBlue;
}

h2 {
    font-size: 24px;
    color: $darkBlue;
    font-weight: 700;
    padding-bottom: 15px;
}

p {
    color: $gray;
    font-size: 1.125rem;
}

h3 {
    color: $blue;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 0;
}

.btn {
    font-family: $font;
    background: $blue;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 10px 15px -3px rgba(0,0,0,.15), 0 4px 6px -2px rgba(0,0,0,.05);
    }
}

nav a {
    color: $gray;
    text-decoration: none;
    margin: 0 25px;
    padding: 0;
    &:hover {
        color: $darkBlue;
    }
}

.phoneNumber {
    color: $darkBlue;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

.operation {
    color: $gray;
    font-size: 12px;
    text-align: right;
}

header {
    background-image: url('../images/showcase-bg.png');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.procedureSection {
    background-image: url('../images/procedure-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    .procedureBoxSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0;
        margin: 0 15px;
    }
    .procedureBox {
        background: #ffffff;
        text-align: center;
        width: 310px;
        padding: 30px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 10px 25px -3px rgba(0,0,0,.10);
        h4 {
            font-size: 20px;
            color: $darkBlue;
            padding-bottom: 15px;
        } 
        p {
            line-height: 1.8;
        }
    }
}

footer {
    background:  rgb(247, 250, 253);
    padding: 100px 0 50px 0;
}

form {
    box-sizing: border-box;
    padding-top: 50px;
    .inputArea {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .inputs {
        min-width: 396px;
        box-sizing: border-box;
        input {
            width: 100%;
            border-radius: 3px;
            border: 1px solid $gray;
            padding: 10px 15px;
            font-size: 1rem;
            color: $gray;
            box-sizing: border-box;
        }
        ::placeholder {
            font-size: 1rem;
            color: $gray;
            text-transform: capitalize;
        }
    }
    textarea {
        width: 100%;
        height: 200px;
        padding: 10px 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 1px solid $gray;
        font-size: 1rem;
        color: $gray;
        font-family: $font;
        resize: none;
        box-sizing: border-box;
    }
    textarea::placeholder {
        color: $gray;
    }
}

.optionSection {
    .optionBoxSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0;
        margin: 0 15px;
    }
    .optionBox {
        display: flex;
        align-items: center;
        background: #ffffff;
        width: 505px;
        padding: 30px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 10px 25px -3px rgba(0,0,0,.10);
        h4 {
            font-size: 20px;
            color: $darkBlue;
            padding-bottom: 15px;
        } 
        p {
            line-height: 1.8;
        }
    }
}

.submit-btn {
    width: 100%;
    font-family: $font;
    background: $blue;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 10px 15px -3px rgba(0,0,0,.15), 0 4px 6px -2px rgba(0,0,0,.05);
    }
}

.formBackground {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(247, 250, 253));
}


.legal {
    padding: 0;
    margin: 0;
    p {
        margin-bottom: 25px;
    }
    .italic {
        font-style: italic;
    }
}

.questions {
    background: #f4f4f4;
    border-radius: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 25px 0;
}

.window-box {
    display: flex;
    align-items: center;
    border: 1px solid #eeeeee;
    box-shadow: 0 10px 25px -3px rgba(0,0,0,.10);
    border-radius: 10px;
    padding: 30px;
    margin: 40px 0;
}

.limitedWarranty {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 50px;
}

.performance {
    margin-bottom: 25px;
}

table {
    font-family: $font;
    font-size: 1rem;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}

td, th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 10px;
    margin: 0;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}